@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
  --encabezado: #332834;
  --fondoPrincipal: #282c34;
  --textoGeneral: #c4bf93;
  --textoHeadYFoot: #93c496;
}

.app-contenedor{
  display: flex;
  flex-direction: column;
  background-color: var(--fondoPrincipal);
  font-family: 'Poppins', sans-serif;
  color: var(--textoGeneral);
  min-height: 100vh;
  
  /*color: var(--textos);*/
}

.app-boton{
  background-color: var(--encabezado);
}
